<!DOCTYPE html>
<html>
 <%= render 'shared/header' %>
<%= yield :header %>
  <body class="sb-nav-fixed">
   <%= render 'shared/navbar' %> 
         <div id="layoutSidenav">
           <%= render 'shared/sidebar' %>
            <div id="layoutSidenav_content">
                <main>
                    <%= yield %>
                </main>
                <%= render 'shared/footer' %>
            </div>
        </div>
        <%= yield :footer %>
  </body>
</html>
